!!! 5
%html(lang="en-US")
  %head
    %title Cake
    = stylesheet_link_tag    'customer_pages/customer_pages', media: 'all', 'data-turbolinks-track' => true
    -# = javascript_include_tag 'customer_pages/customer_pages', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - flash.each do |name, message| # look at rendering flash partial instead. Might have been a problem or something
      %strong
        %div{:class => "alert alert-#{name}", :role => "alert"}
          = message

    = yield
