%head
  = stylesheet_link_tag  'email/email', media: 'all'

%table.body-wrap
  %tr
    %td
    %td.container{:width => "600"}
      .content
        %table.main{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tr
            %td.content-wrap
              %table{:cellpadding => "0", :cellspacing => "0"}
                %tr
                  %td
                    .signup-header.navy-bg
                      %h1{:style => "color: white"}= "Thanks for signing up with #{@location.name}"
                %tr
                  %td.content-block
                    %h3 Keep an eye out for this months deal.
                %tr
                  %td.content-block
                    Each month we'll be sending you something free from a place you already love.
                %tr
                  %td.content-block
                    In the mean time check out these other great locations
                .nearby-locations
                  - @locations.each do |location|
                    %tr
                      %td
                        = link_to location_path(location), :class => "business-wrapper" do
                          .business{:style => "background: url(#{location.img_url}); background-size: cover;"}
                            .backing-layer
                              %span.name= location.name
                              %span.distance.green 4.2mi
                              .signup= link_to "signup", location_path(location), class: "btn btn-xs btn-primary"

        .footer
          %table{:width => "100%"}
            %tr
              %td.aligncenter.content-block
                %a{:href => "www.cake.com"} Cake
    %td
