%body
  #page
    %header#header.site-header
      = render "landing_pages/header"


    %main#main.site-main
      %section#carousel-1.carousel.slide.section-slide{"data-ride" => "carousel"}
        .carousel-inner
          .item.active{:style => "background: url(https://farm7.staticflickr.com/6149/6041904680_5286493e4e_b.jpg); background-size: cover;"}
            .container
              .main_content.pt10.pb40.col-sm-8.col-sm-offset-2
                %h1.section-title
                  %span= @location.name
                %p wants to give you something free on your birthday

                .signup-form
                  = form_for @customer do |f|
                    = f.label :email
                    = f.email_field :email
                    = f.label :birthday
                    = f.date_field :birthday
                    = f.submit "Sign Up", class: "btn btn-success"

      %section.section.section-center.section-cta.pt10.pb20
        .container


    %footer#footer.site-footer.mt100
      = render "landing_pages/footer"
