.col-sm-6
  .ibox.float-e-margins
    .ibox-title
      %h2 Location

    .ibox-content.location
      %h2= @location.name
      = image_tag @location.img_url


.col-sm-6
  - if @deal
    .ibox.float-e-margins
      .ibox-title
        %h2 Current Deal
      .ibox-content
        %h4
          %strong Birthday Deal:
          = @deal.birthday_deal

        %h4
          %strong Monthly Deal:
          = @deal.monthly_deal

        %p.mt40
          = link_to "Update Deal", edit_location_deal_path(@location, @deal), class: "btn btn-primary"
  - else
    .ibox.float-e-margins
      .ibox-title
        %h2 Current Deal
      .ibox-content
        .no-deals
          This location doesn't have any deals
        %p.mt40
          = link_to "Create First Deal", new_location_deal_path(@location), class: "btn btn-primary"
