!!!
%html
  %head
    %title Cake
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    #wrapper
      = render "layouts/sidebar"

      #page-wrapper.gray-bg
        = render "layouts/breadcrumbs"
        = render "layouts/flash_messages"

        .wrapper.wrapper-content.animated.fadeInRight
          -# TODO add .container-fluid and remove .container from individual pages
          
          = yield

        = render "layouts/footer"
